@tailwind base;
@tailwind components;
@tailwind utilities;

.section-header {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bg-home {
  background-color: #1e2023;
  /*
  background: rgb(28, 40, 64);
  background: linear-gradient(90deg, #100e1d 0%, #120e1a 50%, #050112 100%);
*/
}

.section-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 7rem;
}

.logo {
  max-width: 100px;
}

.about-text span {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #57d3fc;
  --tw-gradient-to: rgb(66 166 227 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #1fdcdc;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
  color: transparent;
}

.text-gradient {
  color: #41dcf1;
  transition: 0.3s ease-in-out;
}

.text-gradient:hover {
  color: #57a7fc;
  transition: 0.3s ease-in-out;
}

/* SERVICES */
.col-card {
  margin: 0;
  transition: 0.2s -webkit-transform, 0.2s box-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #383c4360;
  padding: 2rem;
  transition: 0.4s ease;
  font-size: 1.2rem;
}

.col-card svg {
  font-size: 2rem;
  transition: 0.5s ease;
}

.col-card:hover svg {
  transform: scale(1.2);
  transition: 0.5s ease;
}

.col-card:hover .col-card-text {
  opacity: 1;
  transition: 0.5s ease;
}

.col-card-text {
  position: absolute;
  z-index: 3;
  color: white;
  opacity: 0;
  transition: 0.5s ease;
  margin-top: 4rem;
  font-size: 1rem;
}

/* WORK */
.swiper-pagination {
  position: relative !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: relative !important;
  margin-top: 2rem;
}

.swiper-pagination-bullet {
  background: #4e6ddc !important;
  padding: 0.4rem;
  margin: 1rem 0.5rem !important;
}

/* CONTACTO */

.contacto-link {
  position: absolute;
  z-index: 3;
  color: white;
  opacity: 0;
  transition: 0.5s ease;
  margin-top: 2.5rem;
  font-size: 1rem;
}

.col-card:hover .contacto-link {
  opacity: 1;
  transition: 0.5s ease;
}

/* ALL */
.btn {
  background: #4e6ddc;
  box-shadow: 0px 4.42184px 80.23px #56f4ff59;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: #ceecf2;
  color: #1c2840;
  transition: 0.3s ease-in-out;
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #4e6ddc 21.43%,
    #406aff 50.63%,
    #495ed6 100%,
    #7627d6 117.04%
  );
}

.active {
  color: #fff;
  padding: 0.6rem;
  border-radius: 100%;
}

.swiper-container {
  width: 480px;
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .section-header {
    height: 10vh;
  }

  .section-home {
    height: 92vh;
  }

  .col-card {
    padding: 1.8rem;
    font-size: 2.2rem;
  }

  .col-card svg {
    font-size: 3.8rem;
  }

  .col-card-text {
    margin-top: 6rem;
    font-size: 1.2rem;
  }

  .swiper-pagination-bullet {
    background: #4e6ddc !important;
    padding: 0.5rem;
    margin: 1rem 0.5rem !important;
  }

  .contacto-link {
    margin-top: 3.5rem;
  }

}

@media (min-width: 1400px) {
  .col-card {
    padding: 3.5rem;
  }

  .col-card svg {
    font-size: 5rem;
  }

  .col-card-text {
    margin-top: 9rem;
    font-size: 1.6rem;
  }

  .contacto-link {
    margin-top: 5rem;
  }
  
  .active {
    padding: 1rem;
  }
}


@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-10 lg:py-24 h-screen flex items-center;
  }
}
