@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
  background: rgb(28, 40, 64);
  background: linear-gradient(90deg, #100e1d 0%, #120e1a 50%, #050112 100%);
}

.section-header {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 7rem;
}

.logo {
  max-width: 100px;
}

.about-text span{
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #57d3fc;
  --tw-gradient-to: rgb(66 166 227 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #1fdcdc;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
  color: transparent;
}

.btn {
  background: #4e6ddc;
  box-shadow: 0px 4.42184px 107.23px #56f4ff82;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: #ceecf2;
  color: #1c2840;
  transition: 0.3s ease-in-out;
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #4e6ddc 21.43%,
    #406aff 50.63%,
    #495ed6 100%,
    #7627d6 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@media (min-width: 1024px) {
  .section-header {
    height: 10vh;
  }

  .section-home {
    height: 92vh;
  }

  .m-negativo {
    margin-top: -3rem;
  }
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
